{% extends "core.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="alert alert-warning">
        <h2><strong>Stránky ve vývoji</strong></h2>
        <p>Na tomto webu stále probíhá aktivní vývoj, prosím berte na vědomí, že některé funkce nemusí být ještě implementováné nebo optimalizované.</p>
        <p>Postupujete opatrně</p>
    </div>
    <div>
        <h3>O stránkách</h3>
        Toto je prototyp webových stránek vytvořených během mého studia technického lycea. 
    </div>
    <hr>
    <div>
        <h3>Použíté technologie</h3>
        <ul>
            <li>Flask - webový server</li>
            <li>Bootstrap - grafické styly</li>
            <li>Jinja - tvorba šablon</li>
            <li>SQLite - databáze</li>
        </ul>
    </div>
{% endblock %}