{% extends "core.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
    <form action="/login" method="POST">
        {% if valid %}
            <div class="mb-3 p-3 rounded-2 bg-danger">
                Špatné jméno nebo heslo!
            </div>
        {% endif %}
        <div class="mb-3">
            <label class="form-label" for="">Jméno</label>
            <input class="form-control" type="text" name="username" id="">
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Heslo</label>
            <input class="form-control" type="password" name="password" id="">
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Přihlásit se">
        </div>
    </form>
    </div>
    <div class="col-4"></div>
</div>



{% endblock %}