{% extends "core.html" %}
{% block content %}
    <form action="/vypocet" method="POST">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-text">a =</span><input class="form-control" type="text" name="a" id="" required>
            </div>
            <div class="input-group">
                <span class="input-group-text">x =</span> <input class="form-control" type="text" name="x" id="" maxlength="2" required> 
            </div>
        </div>
        <p><h1>A<sup>X</sup> = {{data}}</h1></p>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Odeslat">
        </div>
    </form>
    
{% endblock %}